<div class="menu-container">
    <!-- Contenedores internos de misiones -->
    <div class="mission-container small">Misión 1</div>
    <div class="mission-container medium">Misión 2</div>
    <div class="mission-container large">Misión 3</div>
  
    <!-- Barra inferior -->
    <div class="bottom-bar">
      <div class="bottom-item">Inicio</div>
      <div class="bottom-item">Misiones</div>
      <div class="bottom-item">Estadísticas</div>
      <div class="bottom-item">Perfil</div>
    </div>
  </div>
  