



<div class="login-container">

  <h1>Vitality<span>Go</span></h1>
  
    <div class="login-box">
      <div class="icon">
        <img src="assets/user-icon.png" alt="User Icon">
      </div>
      <h2>Login</h2>
  
      <form (submit)="onLogin()">
        <app-input-group type="text" placeholder="Username"></app-input-group>
        <app-input-group type="password" placeholder="Password"></app-input-group>
        <app-button>Login Now</app-button>
      </form>
  
      <div class="options">
        <label><input type="checkbox"> Recuérdame</label>
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>
  
      <p class="signup-text">¿No tienes cuenta? <a href="#">Crea tu cuenta</a></p>
    </div>
  </div>
  