body {
  font-family: 'Poppins', sans-serif; /* Fuente moderna y legible */
  background-color: #3fe3e6; /* Color de fondo principal */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  position: relative; /* Agrega position relative al body */
  }
  
  .login-container {
    width: 90%; /* Ancho inicial del 90% */
    max-width: 400px; /* Ancho máximo de 400px */
    padding: 30px; /* Margen interno aumentado */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    border-radius: 12px; /* Bordes redondeados */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra suave */
    backdrop-filter: blur(5px); /* Efecto de desenfoque de fondo (opcional) */
    position: absolute; /* Cambia a absolute para posicionarlo */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el contenedor */
  }
  
  .login-box {
    text-align: center;
  }
  
  .icon img {
    width: 80px;
    height: 80px;
    margin-bottom: 30px; /* Margen inferior aumentado */
  }
  
  h1
  {
    text-align: center; /* Centra el texto horizontalmente */
    margin-bottom: 30px; /* Margen inferior aumentado */
    color: #333; /* Color de texto oscuro */
    font-weight: 600; /* Negrita */
  }
  
  h1 span {
    color: #007bff; /* Color de resaltado (azul) */
    font-weight: 700; /* Negrita extra */
}

  h2{
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  app-input-group {
    margin-bottom: 20px; /* Margen inferior aumentado */
  }
  
  app-button {
    padding: 12px; /* Margen interno aumentado */
    background-color: #007bff; /* Color de botón principal (azul) */
    color: #fff;
    border: none;
    border-radius: 6px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 500; /* Semi-negrita */
  }
  
  app-button:hover {
    background-color: #0056b3; /* Color de botón al pasar el mouse */
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px; /* Margen inferior aumentado */
    font-size: 14px;
  }
  
  .signup-text {
    margin-top: 25px; /* Margen superior aumentado */
    font-size: 14px;
  }
  
  .signup-text a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-text a:hover {
    text-decoration: underline;
  }

  /* Estilos responsivos */
  @media (max-width: 768px) {
    .login-container {
      width: 95%; /* Ajusta el ancho para pantallas más pequeñas */
    }
    
    /* Otros ajustes para elementos específicos si es necesario */
  }
  