body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #3C8CE7, #00EAFF);
    animation: backgroundAnimation 10s ease-in-out infinite;
  }
  
 
  